{{- if .Values.dashboard.hostname }}
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: prometheus
spec:
  entryPoints:
    - websecure
  routes:
    - kind: Rule
      match: Host(`{{ .Values.dashboard.hostname }}`)
      {{- if .Values.dashboard.allowedIps }}
      middlewares:
        - name: prometheus-ipallowlist
      {{- end }}
      services:
        - name: prometheus-server
          port: http
  tls:
    secretName: {{ .Values.dashboard.hostname }}-tls
{{- end -}}
