{{- if .Values.dashboard.hostname }}
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: viz
spec:
  entryPoints:
    - websecure
  routes:
    - kind: Rule
      match: Host(`{{ .Values.dashboard.hostname }}`)
      priority: 10
      {{- if .Values.dashboard.allowedIps }}
      middlewares:
        - name: viz-ipallowlist
      {{- end }}
      services:
        - name: web
          port: http
  tls:
    secretName: {{ .Values.dashboard.hostname }}-tls
{{- end -}}
