dashboard:
  hostname: ""
  allowedIps: []

traefik:
  ports:
    web:
      expose:
        default: true
      exposedPort: 80
      http:
        forwardedHeaders:
          insecure: true
        redirections:
          entryPoint:
            to: websecure
            priority: 65536
    websecure:
      expose:
        default: true
      exposedPort: 443
      http:
        forwardedHeaders:
          insecure: true

  deployment:
    kind: DaemonSet
    replicas: 1
    annotations:
      prometheus.io/scrape: "true"
      prometheus.io/port: "9100"

  autoscaling:
    enabled: false

  rbac:
    enabled: true
    namespaced: false

  providers:
    kubernetesIngress:
      enabled: true
    kubernetesGateway:
      enabled: true
    kubernetesCRD:
      enabled: true
      allowCrossNamespace: true

  metrics:
    prometheus:
      addEntryPointsLabels: true
      addRoutersLabels: true
      addServicesLabels: true